TERMS AND CONDITIONS
%h4 Article 1
%br
La marge du dépôt-vente est de 50% du prix de vente par article.

%h4 Article 2
%br
Passé 3 semaines de mise en vente, Bobby se réserve le droit de retirer certains articles de la vente si ils ne correspondent pas à la demande.

%h4 Article 3
%br
Les articles sont en vente pendant 2 mois (congés de moins d'un moins incluent). Les déposants ont une semaine pour venir récupérer les invendus. Passé ce délai, si le déposant n’est pas venu récupérer ses produits, Bobby pourra considérer qu’il fait abandon de ceux-ci, et en conséquence, que le déposant renonce à toute possibilité de réclamation en restitution.
 

%h4 Article 4
%br
Le Déposant s’interdit pendant une durée de deux mois, à compter de la signature du présent Contrat, d’intervenir dans la vente des biens confiés a Bobby, et ceci, de quelque façon que ce soit, et notamment de retirer tout ou partie desdits biens au Dépositaire, sauf à verser, à titre de dédommagement, le montant de la commission initiale prévue.

%br
%br

= link_to "Je suis d'accord", terms_approval_path(client_id: @client.id)