.add-item:hover {
  color: green;
}

.table-striped tbody tr.highlight-green {
  background: green !important;
}

.table-striped tbody tr.highlight-green:nth-child(odd) td {
  background: green !important;
}