.add-item:hover {
  color: green;
}

.table-striped tbody tr.highlight-green {
  background: #7F9A65 !important;
}

.table-striped tbody tr.highlight-green:nth-child(odd) td {
  background: #7F9A65 !important;
}

.table-striped tbody tr.highlight-purple {
  background: #BDA0CB !important;
}

.table-striped tbody tr.highlight-purple:nth-child(odd) td {
  background: #BDA0CB !important;
}

.client-search {
  margin-bottom: 10px;
}