.no-decoration {
  text-decoration: none;
}

.no-direction:hover {
  text-decoration: none;
}

.center {
  text-align: center;
}

hr.black {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.distance-top-30 {
  padding-top: 30px;
}