.no-decoration {
  text-decoration: none;
}

.no-direction:hover {
  text-decoration: none;
}

.center {
  text-align: center;
}

hr.black {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.distance-top-30 {
  padding-top: 30px;
}

.inline {
  display: inline-block;
}

.distance-top-30 {
  padding-top: 30px;
}

.distance-top-130 {
  padding-top: 130px;
}

.margin-top-20 {
  margin-top:20px;
}

li.active:hover {
  color: green;
}

li > a:hover {
    color: black;
}

.center-text {
  text-align: center;
}

.indent-30 {
  text-indent: 30px;
}

.indent-70 {
  text-indent: 70px;
}

//////////////
/////////COLOR
//////////////

